* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .section {
    display: flex;
    width: 80%;
    height: 25vh;
    border: 1px solid black;
  }

  #header, #footer{
      display: flex;
      height: 5vh;
  }

  #header {
    justify-content: space-between;
    align-items: center;
  }

  #logo-img{
      margin-left: 170px;
  }

  ul{
    display: flex;
    margin-right: 170px;
    padding: 0;
    gap: 16px;
  }

  .left-side, .right-side{
      margin-left: 170px;
      margin-top: 100px;
      width: 50%;
  }

  #random-info{
      text-align: center;
      display: block;
  }

  h2{
      margin-bottom: 40px;
  }

  .container {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    margin: 100px;
}

#quote-section{
    display: block;
}

blockquote{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10%;
}

#quote-sign{
    text-align:right;
    font-size: 30px;
    margin: 10%;
}

#sign-up-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer{
    justify-content: center;
    align-items: center;
}