body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .section {
    display: flex;
    width: 80%;
    height: 25vh;
    border: 1px solid black;
  }

  #header, #footer{
      height: 5vh;
  }

  